body {
	background-color:#000000;
	color:#00FFFF;
	margin:10px;
}

fieldset{
	width:60%;
	margin: 20px auto;
	background-color:#A9A9A9;
}

label {
	margin: 15px 30px;
	font-size: 20pt;
}

input {
	padding:15px;
	margin: 15px 30px;
}
